@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-color-default {
    background-color: whitesmoke;
}

.bg-sticky {
    background-color: rgba(245, 245, 245, 0.95);
}

.custom-green {
    color: #1df2a1;
}